* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
  .todos-app-title {
    text-align: center;
    font-size: 60px;
    color: rgba(255, 0, 0, 0.2);
    width: 100%;
  }
  .header {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    height: 40px;
    .main-input-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .main-input {
        width: 85%;
        height: 40px;
        border: none;
        outline: none;
        background: none;
        font-size: 25px;
        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.4);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
        }
      }
      .complete-all {
        margin-left: 2%;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, 0.3);
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        &:checked {
          border: 1px solid rgba(0, 128, 0, 0.4);
          content: '';
          background-image: url(../image/checked.png);
          background-position: center;
          background-size: 20px;
          background-repeat: no-repeat;
          opacity: 0.8;
        }
      }
    }
  }
  .main {
    width: 100%;
    .todo {
      width: 100%;
      height: 40px;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      justify-content: space-between;
      align-items: center;
      position: relative;
      &:hover .todo-delete {
        opacity: 0.5;
      }
      .todo-delete {
        z-index: 10;
        position: absolute;
        right: 5%;
        width: 13px;
        height: 13px;
        background: none;
        background-image: url(../image/close.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.9;
        }
      }
      .todo-title-cont {
        width: 85%;
        height: 40px;
        position: relative;
        .todo-title {
          position: absolute;
          left: 0;
          top: 8px;
          font-size: 20px;
          width: 100%;
        }
        .todo-title-edit {
          font-size: 20px;
          font-weight: 400;
          position: absolute;
          left: 0;
          height: 40px;
          border: none;
          background: none;
          &:focus {
            outline: 1px solid rgba(0, 0, 0, 0.4);
            box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
      .todo-complete {
        margin-left: 2%;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, 0.3);
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        &:checked {
          border: 1px solid rgba(0, 128, 0, 0.4);
          content: '';
          background-image: url(../image/checked.png);
          background-position: center;
          background-size: 20px;
          background-repeat: no-repeat;
          opacity: 0.8;
        }
      }
    }
  }
  .footer {
    width: 100%;
    display: flex;
    padding-top: 10px;
    font-size: 14px;
    .counter-cont {
      width: 25%;
      display: flex;
      align-items: center;
    }
    .sort-cont {
      width: 40%;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sort-all,
      .sort-active,
      .sort-completed {
        cursor: pointer;
        padding: 3px 5px;
        border-radius: 6px;
        &.active {
          outline: 1px solid rgba(255, 0, 0, 0.2);
        }
      }
    }
    .clear-cont {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .clear-btn {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
