.clear-cont {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3%;
  .clear-btn {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
