.sort-cont {
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .sort-all,
  .sort-active,
  .sort-completed {
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 4px;
    &:hover {
      outline: 1px solid rgba(255, 0, 0, 0.2);
    }
    &.active {
      outline: 1px solid rgba(255, 0, 0, 0.4);
    }
  }
}
