.navigation {
  width: 10%;
  position: fixed;
  top: 50%;
  left: 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  &__link {
    text-decoration: none;
    color: #fff;
  }
  button {
    margin: 5px;
  }
}
